Repository iEv0lv3/kaizen, pull requests merged in 2020-04, with the labels that each got.

#2 Add bootstrap
  .rubocop.yml
  app/assets/stylesheets/main.css
  app/assets/stylesheets/nav_bar.css
  app/controllers/welcome_controller.rb
  app/views/layouts/application.html.erb
  app/views/welcome/index.html.erb
  config/routes.rb
Labels: bootstrap/ui

#4 Setup: Devise
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/users/base_controller.rb
  app/controllers/users/confirmations_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/profile_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/controllers/users/unlocks_controller.rb
  app/models/user.rb
  app/views/layouts/application.html.erb
  app/views/users/confirmations/new.html.erb
  app/views/users/mailer/confirmation_instructions.html.erb
  app/views/users/mailer/email_changed.html.erb
  app/views/users/mailer/password_change.html.erb
  app/views/users/mailer/reset_password_instructions.html.erb
  app/views/users/mailer/unlock_instructions.html.erb
  app/views/users/passwords/edit.html.erb
  app/views/users/passwords/new.html.erb
  app/views/users/profile/show.html.erb
  app/views/users/registrations/edit.html.erb
  app/views/users/registrations/new.html.erb
  app/views/users/sessions/new.html.erb
  app/views/users/shared/_error_messages.html.erb
  app/views/users/shared/_links.html.erb
  app/views/users/unlocks/new.html.erb
  config/environments/development.rb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  config/routes.rb
  db/migrate/20200408192727_devise_create_users.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Labels: devise

#5 Dh model migrations
  app/models/answer.rb
  app/models/comment.rb
  app/models/question.rb
  app/models/user.rb
  config/environments/test.rb
  db/migrate/20200408211835_create_questions.rb
  db/migrate/20200408220147_create_answers.rb
  db/migrate/20200408225808_create_comments.rb
  db/schema.rb
  spec/models/answer_spec.rb
  spec/models/comment_spec.rb
  spec/models/question_spec.rb
  spec/models/user_spec.rb
Labels: Database Tables

#6 Feature: Visitor can register an account and visit home page
  app/assets/stylesheets/nav_bar.css
  app/controllers/registrations_controller.rb
  app/controllers/users/registrations_controller.rb
  app/models/user.rb
  app/views/registrations/new.html.erb
  app/views/users/registrations/edit.html.erb
  config/initializers/devise.rb
  config/routes.rb
  spec/features/visitor_home_spec.rb
Labels: visitor_function

#8 Refactor: Visitor Registration Tests
  app/controllers/registrations_controller.rb
  app/controllers/users/profile_controller.rb
  app/controllers/users/registrations_controller.rb
  app/models/comment.rb
  app/views/layouts/application.html.erb
  app/views/registrations/new.html.erb
  app/views/shared/_error_messages.html.erb
  app/views/shared/_links.html.erb
  spec/features/visitor_home_spec.rb
Labels: bootstrap/ui, bug_fix, rubocop, visitor_function

#7 Jww navbar
  app/assets/stylesheets/nav_bar.css
  app/controllers/registrations_controller.rb
  app/controllers/users/profile_controller.rb
  app/controllers/users/registrations_controller.rb
  app/models/comment.rb
  app/views/layouts/application.html.erb
  app/views/registrations/new.html.erb
  app/views/shared/_error_messages.html.erb
  app/views/shared/_links.html.erb
  spec/features/visitor_home_spec.rb
Labels: bootstrap/ui, devise, enhancement, question, visitor_function

#9 Feature: .rubocop.yml addition
  .rubocop.yml
  app/jobs/application_job.rb
  pull_request_template.md
  spec/factories/users.rb
  spec/models/answer_spec.rb
  spec/models/comment_spec.rb
  spec/models/question_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/spec_helper.rb
Labels: bug_fix, enhancement, rubocop

#10 User test
  Gemfile
  Gemfile.lock
  app/views/users/sessions/new.html.erb
  config/environments/development.rb
  spec/factories/users.rb
  spec/features/users/new_spec.rb
  spec/features/users/profile/show_spec.rb
  spec/rails_helper.rb
Labels: bug_fix, devise, enhancement, testing

#14 Jww profile link
  .rubocop.yml
  app/assets/images/logo.png
  app/assets/stylesheets/nav_bar.css
  app/views/layouts/application.html.erb
  spec/features/users/profile/new_spec.rb
  spec/features/visitors/home_spec.rb
Labels: bug_fix, ui/ux

#19 Profile update delete
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/users/profile_controller.rb
  app/views/users/profile/edit.html.erb
  app/views/users/profile/show.html.erb
  config/routes.rb
  db/migrate/20200408192727_devise_create_users.rb
  db/schema.rb
  spec/features/users/profile/edit_spec.rb
  spec/features/users/profile/show_spec.rb
Labels: Profile, devise, testing, user_function

#21 Jww GitHub omniauth
  app/controllers/users/callbacks_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/profile_controller.rb
  app/models/user.rb
  app/views/shared/_links.html.erb
  app/views/users/confirmations/new.html.erb
  app/views/users/profile/show.html.erb
  app/views/users/sessions/new.html.erb
  config/initializers/devise.rb
  config/routes.rb
  db/migrate/20200408211835_create_questions.rb
  db/migrate/20200411214455_add_api_uid_to_users.rb
  db/schema.rb
Labels: Profile, devise, github_omniauth, user_function

#22 Jww stackoverflow omniauth
  Gemfile
  Gemfile.lock
  app/controllers/users/callbacks_controller.rb
  app/models/user.rb
  app/views/users/profile/show.html.erb
  config/initializers/devise.rb
Labels: Profile, devise, stackoverflow_omniauth, user_function

#23 Update Flash Alerts
  app/views/layouts/application.html.erb
Labels: bootstrap/ui, enhancement, ui/ux

#24 Refactor: Fix title of application
  app/views/layouts/application.html.erb
Labels: bootstrap/ui, bug_fix, enhancement, ui/ux

#25 Feature: Connect to Sinatra
  app/models/user.rb
  app/services/kaizen_api_service.rb
  app/views/users/profile/show.html.erb
  config/initializers/devise.rb
  db/migrate/20200408192727_devise_create_users.rb
  db/schema.rb
  spec/features/users/profile/new_spec.rb
  spec/features/users/profile/show_spec.rb
Labels: Profile, bug_fix, devise, enhancement, github_omniauth, stackoverflow_omniauth, ui/ux, user_function

#27 Jww footer
  app/assets/images/github-logo-lg.png
  app/assets/images/medal.png
  app/assets/images/so-icon-lg.png
  app/assets/images/turing_logo.png
  app/assets/stylesheets/main.css
  app/assets/stylesheets/nav_bar.css
  app/controllers/answers_controller.rb
  app/controllers/application_controller.rb
  app/controllers/professional_forum_controller.rb
  app/controllers/questions_controller.rb
  app/controllers/technical_forum_controller.rb
  app/controllers/users/callbacks_controller.rb
  app/controllers/users/profile_controller.rb
  app/models/answer.rb
  app/models/question.rb
  app/views/layouts/application.html.erb
  app/views/registrations/new.html.erb
  app/views/users/profile/show.html.erb
  app/views/users/questions/new.html.erb
  spec/features/users/profile/new_spec.rb
Labels: Profile, bootstrap/ui, bug_fix, rubocop, ui/ux

#30 Jww answers crud
  app/controllers/users/answers_controller.rb
  app/controllers/users/questions_controller.rb
  app/views/answers/new.html.erb
  app/views/questions/show.html.erb
  app/views/users/answers/edit.html.erb
  app/views/users/answers/new.html.erb
  app/views/users/answers/show.html.erb
  config/routes.rb
  spec/features/answers /show_spec.rb
  spec/features/users/answers/edit_spec.rb
  spec/features/users/answers/index_spec.rb
  spec/features/users/answers/new_spec.rb
  spec/features/users/answers/show_spec.rb
Labels: answers_crud, rubocop, ui/ux

#32 Feature: Forum index
  app/assets/images/turing_vertical_spacer.png
  app/assets/stylesheets/forum.css
  app/assets/stylesheets/main.css
  app/controllers/users/answer_comments_controller.rb
  app/controllers/users/question_comments_controller.rb
  app/models/comment.rb
  app/views/layouts/application.html.erb
  app/views/partials/_forum.html.erb
  app/views/professional_forum/index.html.erb
  app/views/technical_forum/index.html.erb
  db/schema.rb
  spec/features/questions/answers/comments/index_spec.rb
  spec/features/users/answers/comments/new_spec.rb
Labels: bootstrap/ui, rubocop, ui/ux

#34 Feature: Question Show
  Gemfile
  app/assets/stylesheets/question_show.css
  app/controllers/users/answers_controller.rb
  app/controllers/users/questions_controller.rb
  app/models/question.rb
  app/views/questions/show.html.erb
  app/views/users/questions/new.html.erb
  bin/bundle
  bin/rails
  bin/rake
  bin/webpack
  bin/webpack-dev-server
  bin/yarn
  config/environments/production.rb
  config/environments/test.rb
  config/puma.rb
  config/routes.rb
  config/spring.rb
  db/migrate/20200408192727_devise_create_users.rb
  db/migrate/20200408220147_create_answers.rb
  db/migrate/20200408225808_create_comments.rb
  db/schema.rb
  spec/factories/users.rb
  spec/features/questions/answers/index_spec.rb
  spec/features/questions/comments/index_spec.rb
  spec/features/questions/index_spec.rb
  spec/features/questions/show_spec.rb
  spec/features/users/answers/comments/edit_spec.rb
  spec/features/users/answers/edit_spec.rb
  spec/features/users/new_spec.rb
  spec/features/users/profile/edit_spec.rb
  spec/features/users/questions/comments/edit_spec.rb
  spec/features/users/questions/comments/new_spec.rb
  spec/features/users/questions/delete_spec.rb
  spec/features/users/questions/edit_spec.rb
  spec/features/users/questions/new_spec.rb
  spec/features/visitors/home_spec.rb
  spec/features/visitors/visitor_cannot_ask_a_question_spec.rb
  spec/models/comment_spec.rb
  spec/models/question_spec.rb
  spec/rails_helper.rb
Labels: bootstrap/ui, rubocop, testing, ui/ux, user_function, visitor_function

#35 Jww uiux 1
  app/assets/stylesheets/forum.css
  app/assets/stylesheets/question_show.css
  app/models/user.rb
  app/views/layouts/application.html.erb
  app/views/partials/_forum.html.erb
  app/views/questions/show.html.erb
  config/routes.rb
  db/schema.rb
Labels: bug_fix, ui/ux

#39 Feature: Upvoting
  app/assets/images/upvote.png
  app/controllers/users/answer_comments_controller.rb
  app/controllers/users/upvotes_controller.rb
  app/models/answer.rb
  app/models/comment.rb
  app/models/question.rb
  app/models/user.rb
  app/models/vote.rb
  app/views/questions/show.html.erb
  app/views/users/answer_comments/edit.html.erb
  app/views/users/questions/edit.html.erb
  config/routes.rb
  db/migrate/20200414181702_create_votes.rb
  db/schema.rb
  spec/features/questions/upvote_spec.rb
  spec/models/answer_spec.rb
  spec/models/comment_spec.rb
  spec/models/question_spec.rb
  spec/models/user_spec.rb
Labels: bootstrap/ui, enhancement, ui/ux, upvotes, user_function, visitor_function

#40 Refactor: Fix Confirmable
  app/controllers/professional_forum_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/technical_forum_controller.rb
  app/controllers/users/confirmations_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/profile_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/controllers/users/unlocks_controller.rb
  app/models/user.rb
  app/views/partials/_links.html.erb
  app/views/registrations/new.html.erb
  app/views/sessions/new.html.erb
  app/views/users/confirmations/new.html.erb
  config/routes.rb
  spec/cassettes/User/_award_count/sends_back_an_award_count.yml
  spec/features/upvotes/upvote_spec.rb
  spec/features/visitors/home_spec.rb
  spec/models/answer_spec.rb
  spec/models/comment_spec.rb
  spec/models/question_spec.rb
  spec/models/user_spec.rb
Labels: devise, enhancement, ui/ux, user_function, visitor_function

#43 Jww heroku bug 1
  app/views/partials/_forum.html.erb
  app/views/questions/show.html.erb
  app/views/users/profile/show.html.erb
Labels: Heroku, Production, bug_fix

#44 Jww profile icons
  app/helpers/devise_helper.rb
  app/models/answer.rb
  app/models/comment.rb
  app/models/question.rb
  app/models/user.rb
  app/views/users/profile/show.html.erb
Labels: Profile, rubocop, ui/ux

#46 User name
  app/controllers/registrations_controller.rb
  app/controllers/users/profile_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/partials/_forum.html.erb
  app/views/questions/show.html.erb
  app/views/registrations/new.html.erb
  app/views/users/profile/edit.html.erb
  app/views/users/profile/show.html.erb
  app/views/users/show.html.erb
  config/routes.rb
  db/migrate/20200415175629_add_user_name_to_user.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/users.rb
  spec/features/users/new_spec.rb
  spec/features/users/profile/show_spec.rb
  spec/features/users/show_spec.rb
  spec/features/visitors/home_spec.rb
  spec/models/answer_spec.rb
  spec/models/comment_spec.rb
  spec/models/user_spec.rb
Labels: Profile, bootstrap/ui, testing, ui/ux, user_function, user_profile, visitor_function

#47 Dh test coverage
  app/views/questions/show.html.erb
  spec/features/upvotes/upvote_spec.rb
  spec/features/users/profile/edit_spec.rb
  spec/features/users/questions/comments/edit_spec.rb
Labels: rubocop, testing

#48 added functionality so that a user cannot answer their own question
  app/views/questions/show.html.erb
  spec/features/questions/show_spec.rb
Labels: answers_crud, bug, bug_fix

#49 Modified and created some files
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/jobs/application_job.rb
  spec/features/users/answers/comments/edit_spec.rb
  spec/features/visitors/home_spec.rb
Labels: bug, bug_fix, enhancement

#50 Jww medals
  app/assets/images/kaizen_award_blue.png
  app/assets/images/kaizen_award_green.png
  app/assets/images/kaizen_award_red.png
  app/assets/images/kaizen_award_yellow.png
  app/assets/images/upvote.png
  app/controllers/users/profile_controller.rb
  app/facades/users_profile_facade.rb
  app/models/user.rb
  app/views/users/profile/edit.html.erb
  app/views/users/profile/show.html.erb
  app/views/users/show.html.erb
  spec/cassettes/User/_award_count/sends_back_an_award_count.yml
  spec/features/users/profile/edit_spec.rb
  spec/features/users/profile/new_spec.rb
  spec/features/users/profile/show_spec.rb
  spec/features/users/questions/delete_spec.rb
  spec/features/users/questions/edit_spec.rb
  spec/models/user_spec.rb
Labels: Database Tables, Production, Profile, bug, bug_fix, enhancement, medals, user_profile

#51 Feature: Search
  app/assets/stylesheets/search_home.css
  app/assets/stylesheets/search_results.css
  app/controllers/search_controller.rb
  app/facades/search_facade.rb
  app/models/answer.rb
  app/models/question.rb
  app/views/layouts/application.html.erb
  app/views/search/index.html.erb
  app/views/welcome/index.html.erb
  config/routes.rb
  db/seeds.rb
Labels: bootstrap/ui, enhancement, search_bar, search_results, ui/ux, user_function, visitor_function

#55 Test coverage improvement
  spec/cassettes/User/_award_count/sends_back_an_award_count.yml
  spec/features/users/profile/show_spec.rb
Labels: Profile, bug, bug_fix, enhancement, testing

#56 Feature: Verify Answers
  app/controllers/search_controller.rb
  app/controllers/users/verification_controller.rb
  app/mailers/application_mailer.rb
  app/models/answer.rb
  app/models/question.rb
  app/views/partials/_forum.html.erb
  app/views/partials/_links.html.erb
  app/views/questions/show.html.erb
  app/views/search/index.html.erb
  config/routes.rb
  db/migrate/20200416154733_add_verification_to_answers.rb
  db/schema.rb
  spec/features/questions/answers/verify_answers_spec.rb
  spec/features/questions/index_spec.rb
  spec/features/questions/show_spec.rb
  spec/models/answer_spec.rb
  spec/models/question_spec.rb
Labels: bug, bug_fix, enhancement, search_results, testing, user_function, verify_answer, visitor_function

#57 Feature: DB Indexing
  .rubocop.yml
  app/controllers/registrations_controller.rb
  app/controllers/search_controller.rb
  app/controllers/users_controller.rb
  db/migrate/20200408211835_create_questions.rb
  db/migrate/20200408220147_create_answers.rb
  db/migrate/20200408225808_create_comments.rb
  db/migrate/20200415175629_add_user_name_to_user.rb
  db/migrate/20200416202729_add_index_to_questions.rb
  db/migrate/20200416203106_add_index_to_answers.rb
  db/migrate/20200416203235_add_index_to_comments.rb
  db/migrate/20200416203433_add_index_to_users.rb
  db/schema.rb
Labels: DB_optimization, Database Tables, enhancement, search_results

#58 Jww form styling
  app/assets/stylesheets/form_style.css
  app/controllers/users/profile_controller.rb
  app/views/layouts/application.html.erb
  app/views/partials/_comments.html.erb
  app/views/registrations/new.html.erb
  app/views/sessions/new.html.erb
  app/views/users/answer_comments/edit.html.erb
  app/views/users/answer_comments/new.html.erb
  app/views/users/answers/edit.html.erb
  app/views/users/answers/new.html.erb
  app/views/users/passwords/edit.html.erb
  app/views/users/profile/edit.html.erb
  app/views/users/profile/show.html.erb
  app/views/users/question_comments/edit.html.erb
  app/views/users/question_comments/new.html.erb
  app/views/users/questions/edit.html.erb
  app/views/users/questions/new.html.erb
  spec/features/users/new_spec.rb
  spec/features/users/profile/show_spec.rb
  spec/features/users/questions/new_spec.rb
  spec/features/visitors/home_spec.rb
Labels: bootstrap/ui, search_bar, ui/ux

#59 Jww button style updates
  app/assets/stylesheets/search_home.css
  app/views/layouts/application.html.erb
  app/views/partials/_comments.html.erb
  app/views/registrations/new.html.erb
  app/views/sessions/new.html.erb
  app/views/users/answers/edit.html.erb
  app/views/users/answers/new.html.erb
  app/views/users/passwords/edit.html.erb
  app/views/users/profile/edit.html.erb
  app/views/users/questions/edit.html.erb
  app/views/users/questions/new.html.erb
  app/views/welcome/index.html.erb
Labels: bootstrap/ui, ui/ux

#61 lots more seeds
  app/models/user.rb
  db/seeds.rb
Labels: DB_optimization, Database Tables

#60 Bug Squish: Verified Answers
  app/models/answer.rb
  app/views/questions/show.html.erb
Labels: bug, bug_fix, enhancement, testing, verify_answer

#62 Update: Readme
  README.md
  app/assets/images/readme/kaizen_landing.png
  app/assets/images/readme/turing_horizontal_spacer.png
  app/assets/images/readme/turing_horizontal_spacer_sm.png
Labels: enhancement, readme

#63 Refactor: Question Show
  app/assets/images/green-check-small.png
  app/assets/images/grey-check-small.png
  app/assets/stylesheets/question_show.css
  app/models/answer.rb
  app/views/partials/_forum.html.erb
  app/views/questions/show.html.erb
  app/views/search/index.html.erb
  spec/factories/users.rb
  spec/features/questions/answers/verify_answers_spec.rb
  spec/features/questions/index_spec.rb
  spec/features/upvotes/upvote_spec.rb
Labels: bootstrap/ui, enhancement, medals, ui/ux, upvotes

#66 Jww refactor and bugs
  app/assets/images/calendar.png
  app/assets/stylesheets/profile.css
  app/controllers/registrations_controller.rb
  app/controllers/search_controller.rb
  app/helpers/devise_helper.rb
  app/views/layouts/application.html.erb
  app/views/partials/_forum.html.erb
  app/views/registrations/new.html.erb
  app/views/search/index.html.erb
  app/views/users/profile/show.html.erb
  app/views/users/show.html.erb
  db/migrate/20200408192727_devise_create_users.rb
  db/schema.rb
  spec/features/users/new_spec.rb
  spec/features/visitors/home_spec.rb
Labels: Database Tables, Profile, bootstrap/ui, bug_fix, search_results, testing, ui/ux, upvotes

#67 Refactor: README
  README.md
Labels: documentation, enhancement, readme
